@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            background-color: #7158e2;
        }
        
        #container {
        display: grid;
        grid-template-columns: repeat(auto-fill,200px);
        gap: 24px;
        padding: 24px;
        }
        
        .sticky {
        height: 200px;
        padding: 16px;
        border: none;
        outline: none;
        resize: none;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
        
        .btn-add {
            height: 200px;
        border: none;
        outline: none;
        color: #fff;
        font-size: 20px;
        background-color: #c56cf0;
        cursor: pointer;
        }
        
        .btn-add:hover{
            background-color: #cd84f1;
            border-radius: 5px;
        }